* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.age-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:black;
}

.age-alert {
    color: #B43B3B;
    font-size: 50px;
}